.image-button {
  border: none;
  background: none;
  cursor: pointer;
}

.image-button:hover {
  outline: none; /* Remove o contorno padrão */
  box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.8); /* Aura dourada */
  border-radius: 10px;
  animation: glow 1s infinite alternate; /* Animação do brilho */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 20px 8px rgba(255, 215, 0, 1);
  }
}
